!!!

%html
  %h1 NinjaScript
  %p Betcha didn't see that coming
  %p 
    This is intended as a quick and dirty guide to the NinjaScript interface.  
    With this in hand, you should hopefully be able to bang away at 
    NinjaScript code until you get it working - there'll be a tutorial soon to 
    guide you through the process of learning NinjaScript
  %h2 Using NinjaScript in your HTML
  %p
    First step of using NinjaScript is to include it into your html.  That 
    looks something like this:
  %code
    :escaped
      <script type='text/javascript' src='js/jquery.ninjascript.js'>
  %p
    Nothing really specially there.
  %p
    Next, you'll need to add some javascript like this to your page.  Could go 
    in a <code>&lt;script></code>tag, could go in your own file:
  %p


  




